ManifestServiceClient/Service References/ManifestServiceClientReference/PackageManifestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocumentScannerCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocumentScannerCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/PackageManifestService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ssepan.Application.MVC" />
  <xs:complexType name="ArrayOfPackageManifest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageManifest" nillable="true" type="tns:PackageManifest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageManifest" nillable="true" type="tns:ArrayOfPackageManifest" />
  <xs:complexType name="PackageManifest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ssepan.Application.MVC" base="q1:SettingsComponentBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_Count" type="xs:int" />
          <xs:element minOccurs="0" name="_Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_DocumentFiles" nillable="true" type="tns:ArrayOfImageFile" />
          <xs:element minOccurs="0" name="_ErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_OperatorId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_TransactionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PackageManifest" nillable="true" type="tns:PackageManifest" />
  <xs:complexType name="ArrayOfImageFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageFile" nillable="true" type="tns:ImageFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageFile" nillable="true" type="tns:ArrayOfImageFile" />
  <xs:complexType name="ImageFile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Ssepan.Application.MVC" base="q2:SettingsComponentBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_DocumentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_Filename" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageFile" nillable="true" type="tns:ImageFile" />
</xs:schema>