ManifestServiceClient/Service References/ManifestServiceClientReference/PackageManifestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocumentScannerServiceCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocumentScannerServiceCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/PackageManifestService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DocumentScannerCommon" />
  <xs:complexType name="ManifestContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DocumentScannerCommon" minOccurs="0" name="Manifests" nillable="true" type="q1:ArrayOfPackageManifest" />
      <xs:element minOccurs="0" name="OperatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManifestContract" nillable="true" type="tns:ManifestContract" />
  <xs:complexType name="DocumentContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DocumentScannerCommon" minOccurs="0" name="Documents" nillable="true" type="q2:ArrayOfImageFile" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentContract" nillable="true" type="tns:DocumentContract" />
</xs:schema>